@page "/blog"
@layout MainLayout

<h3>Blog</h3>
<hr />

@if (!BlogItems.Any())
{
    <p>Aún no hay elementos en esta seccion.</p>
}
else
{
    <div class="row">
        @foreach (var item in BlogItems)
        {
            <BlogItem Title=@item.Title Date=@item.Date Description=@item.Description />
        }
    </div>
}

