@page "/gallery/{Subgallery}"
@layout MainLayout
@using Syncfusion.Blazor.Inputs

<h3>Galería</h3>
<hr />

<div ID="DropArea">
    Arrastra los archivos aqui para subirlos
</div>

<SfUploader ID="UploadFiles" AutoUpload=false DropArea="#DropArea" DirectoryUpload="false">
    <UploaderEvents ValueChange="OnChange" ></UploaderEvents>
    @*<UploaderAsyncSettings  SaveUrl="api/SampleData/Save" RemoveUrl="api/SampleData/Remove"></UploaderAsyncSettings>*@
</SfUploader>

<style>
    #DropArea {
        padding: 50px 25px;
        margin: 30px auto;
        border: 1px solid #c3c3c3;
        text-align: center;
        width: 20%;
        display: inline-flex;
    }

    .e-file-select,
    .e-file-drop {
        display: none;
    }

    body .e-upload-drag-hover {
        outline: 2px dashed brown;
    }

    #uploadfile {
        width: 60%;
        display: inline-flex;
        margin-left: 5%;
    }
</style>


<div style="text-align:end">
    @foreach (var fileItem in Directory.GetFiles())
    {
        string imgPath = $"/img/{Subgallery}/{fileItem.Name}";
        <Thumbnail Source=@imgPath />
    }
</div>
