@page "/gallery/{Subgallery}"
@layout MainLayout
@using Syncfusion.Blazor.Inputs


<h3>Galería</h3>
<hr />
<div class="offset-1 gallery-body">
    @*//@if (SignInManager.IsSignedIn(User))*@
   
    <div ID="DropArea">
        Arrastra los archivos aqui
    </div>

    <SfUploader ID="UploadFiles" AutoUpload=false DropArea="#DropArea" DirectoryUpload="false">
        <UploaderEvents ValueChange="OnChange"></UploaderEvents>
    </SfUploader>
   

    @if (!Directory.EnumerateFiles().Any())
    {
        <p>Aún no hay imagenes en esta sección...</p>
    }
    else
    {
        <div class="offset-1">
            @foreach (var fileItem in Directory.GetFiles())
            {
                string imgPath = $"/img/{Subgallery}/{fileItem.Name}";
                <Thumbnail Source=@imgPath/>
            }
        </div>
    }
</div>
<style>
    #DropArea {
        padding: 50px 25px;
        margin: 30px auto;
        border: 1px solid #c3c3c3;
        text-align: center;
        width: 20%;
        display: inline-flex;
    }

    .e-file-select,
    .e-file-drop {
        display: none;
    }

    body .e-upload-drag-hover {
        outline: 2px dashed brown;
    }

    #uploadfile {
        width: 60%;
        display: inline-flex;
        margin-left: 5%;
    }
</style>

