@page "/products/{Name}"
@layout MainLayout


@using Syncfusion.Blazor.Inputs


<h3>@ProductType</h3>
<a @onclick="() =>Add()" class="btn btn-primary">Agregar</a>
<hr />

@if (!ProductList.Any())
{
    <p>Aún no hay elementos en esta seccion.</p>
}
else
{
    <div class="row">
        @foreach (var item in ProductList)
        {
            <ProductItem Product="item"></ProductItem>
        }
    </div>
}
