<div class="col-sm-6">
    <div class="card mb-2">
        <div class="card-body">
            <h5 class="card-title">@Title</h5>
            <h6 class="mb-1 text-muted">@Date.ToString("dd/MM/yyyy")</h6>
            <h6 class="card-text">@Description</h6>
            <a @onclick="() =>GoToPost(Id)" class="btn btn-primary">Leer</a>          
        </div>
    </div>
</div>