


<SfSidebar @ref="Sidebar" Width="280px" @bind-IsOpen="SidebarToggle">
    <ChildContent>
        <span class="e-avatar e-avatar-large image">
            <img src="/img/TattooStudio Logo.jpeg" />           
        </span>
        <SfAccordion>
            <AccordionItems>
                <AccordionEvents Clicked="OnclickHandler"> </AccordionEvents>
                <AccordionItem Header="Eka Epitafio" Expanded="false">
                </AccordionItem>
                <AccordionItem Header="Galería" Expanded="false">
                    <ContentTemplate>
                        <ul>
                            <li><a href="/gallery/tattoo"><span class="e-icons e-content-icon">Tatuajes</span></a>  </li>
                            <li><span class="e-icons e-content-icon">Piercing</span>  </li>
                        </ul>
                    </ContentTemplate>
                </AccordionItem>
                <AccordionItem Header="Agenda">
                    <a href="agenda"> </a>
                </AccordionItem>
                <AccordionItem Header="Preguntas Frecuentes">
                    <a href="faq"> </a>
                </AccordionItem>
                <AccordionItem Header="Blog">
                    <a href="blog"> </a>
                </AccordionItem>
                <AccordionItem Header="Artwork">
                    <ContentTemplate>
                        <ul>
                            <li><span>Diseños Digitales</span> </li>
                            <li><span>Pinturas</span>  </li>
                        </ul>
                    </ContentTemplate>
                </AccordionItem>
                <AccordionItem Header="Merchandising">
                    <a href="merchandising"> </a>
                </AccordionItem>
                <AccordionItem Header="Videos">
                    <a href="videos"> </a>
                </AccordionItem>
                <AccordionItem Header="Contacto">
                    <a href="contacto"> </a>
                </AccordionItem>
            </AccordionItems>
        </SfAccordion>
    </ChildContent>
</SfSidebar>

<style>

    /* Sidebar styles  */
    .e-sidebar {
        background-color: whitesmoke;
        color: black;
    }

    li {
        list-style-type: none !important;
    }

    .text-content {
        font-size: 30px;
        padding: 3rem;
    }

    .e-tbar-search-icon:before {
        content: "\ec0d";
        color: white;
        font-size: 16px;
    }

    .e-tbar-settings-icon:before {
        content: "\e679";
        color: white;
        font-size: 16px;
    }

    .e-tbar-menu-icon:before {
        content: "\e718";
        color: white;
        font-size: 16px;
    }

    .e-toolbar .e-toolbar-items, .e-toolbar .e-toolbar-item .e-tbar-btn.e-btn {
        background-color: midnightblue;
        color: white;
        font-size: 16px;    
    }

    .main > div {
        padding: 0px !important;
    }

    .e-avatar.image {      
        background-image: url('file:///C:\Users\Administrador\source\repos\EpitafioTattoo\wwwroot\img\Eka logo.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: auto;
        margin-left: 35%;
        margin-top: 15px;
        font-size: 2.5em !important;
        overflow: visible !important;
    }

    .loading {      
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: auto;
        margin-left: 45%;
        margin-top: 5px;
        font-size: 2.5em !important;
        width: 85px;
        height: 85px;
    }

    .e-accordion {
        background-color: whitesmoke !important;
    }

    .e-acrdn-content li {
        height: 28px !important;
        line-height: 28px !important;
        font-size: 16px;
    }

        .e-accordion .e-acrdn-item .e-acrdn-header .e-acrdn-header-content{
            color:black;
        }

        .e-acrdn-content li, .e-acrdn-content li .e-content-icon:hover {
            cursor: pointer;
            color: black !important;
        }
</style>